@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comic+Neue:300,300i,400,400i,700,700i&display=swap');

* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    box-shadow: 0px 2px 30px rgba(80, 80, 80, 0.61);
    display: flex;
    background-color: white;
    position: fixed;
    width: 100%;
}

header > a {
    background: rgb(213, 213, 213)
}

header h1 {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    text-shadow: rgb(0, 134, 223) 20px 15px 5px;         
}

header a img:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

header a img:active {
    filter: invert(80%);
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    background-color: gray;
    border: none;
    padding: 10px 15px;
    margin: 10px;
    text-align: center;
    border-radius: 7px;
    font-size: 15px;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

header nav a:hover {
    background-color: rgb(65, 65, 65);
    box-shadow: 2px 2px 5px rgb(190, 190, 190);
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}

header nav a span {
    margin-right: 5px;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* padding: 0 6px; */
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 140px;
}

main h1 {
    text-align: center;
    text-decoration: underline;
}

.box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.box section {
    /* box-shadow: 10px 10px 10px gray; */
    border: 5px inset rgb(180, 180, 180);
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 6px;
}

.box section p {
    margin: 0px;
    margin-top: 5px;
}

footer {
    text-align: center;
    color: rgba(100, 100, 100, 0.5);
}

/* Page Dashboard */

.background {
    background-image: url("/assets/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.meteo-box {
    width: 300px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.btn-box {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.box1 {
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: white;
}

#city {
    width: 250px;
    height: 50px;
    font-weight: bold;
    background-color: rgba(211, 211, 211, 0.75);
}

#img_meteo {
    width: 50px;
    height: 50px;
}

#img_meteo:hover {
    background-color: rgb(80, 80, 80);
}

#webcam {
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 3px;
    background: rgba(57, 10, 175, 0.683);
    color: white;
}

#webcam:hover{
    background: rgba(116, 116, 116, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.683);
    transition: 0.3s ease-in;
}

#video {
    margin-bottom: 20px;
}