@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 0px;
}

main {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0px 20px;
	min-height: 80vh;
}
