/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-black: #181818;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-black);
  --color-text: var(--vt-c-white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: 'Open Sans', sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}
